/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/* home page */

/* .home-main{
  display: flex;
  max-width: 1200;
  margin-left: auto;
  margin-right: auto;
} */


*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.home-background{
  width: 100%;
  z-index: -1;
  margin-bottom: -100px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home-products{
  display: flex;
  flex-direction: row;
justify-content: space-around;
  z-index: 1; 
}


/* homepage_product_index */

.product-container {
  display: flex;
  z-index: 2;
  margin-top: 20px;

}

.product-container-wrapper{
  display: flex;
  align-items: center;

  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  max-height: 300px;
  max-width: 100px;
  z-index: 3;
  flex-direction: column;
  background-color: white;
  border: solid 5px orange;
}

.product-img {
  max-height: 100px;
  /* width: 100%;
  padding: 20px; */
  margin-bottom: 20px;
  object-fit: contain;
}



.product-price{
  border: green solid 2px;
  color: red;
}

/* empty cart */

.cart-1{
height: 50px;
width: fit-content;
z-index: 2;
position: relative;
}


.cartcount{
position: absolute;
top: 12px;
right: 25px;
font-size: larger;
z-index: 8;
}

.header-group-1{
display: flex;
justify-content: center;
flex-direction: column;
}
.header-group-1 > button {
  width: 400px;
align-self: center;
height: 50px;
border-radius: 10px;
}
.header-name{
  margin-top: 50px;
  align-self: center;
}

.login-signup{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}