.product-details-main{
  width: 100%;
  margin-left: 6%;
}

.details-price{
  font-size: x-large;
  align-self: flex-start;
  margin-bottom: 12px;
}
.price-whole{
  font-size: xx-large;
font-weight: 600;
}
.price-fraction{
font-size: small;
}

.history-nav{
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.product-container{
  width: 100%;
  justify-content: space-evenly;
  /* border: dotted 2px darkgray; */
}

.image-left-col{
  width: 34%;
  /* border: dotted 2px gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.detailed-view-image{
  max-width: 90%;
  object-fit: contain;
}

.image-instruction{
  font-size: medium;
justify-self: center;
color: gray;
}

.images-array{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 5px;
  row-gap: 10px;
}

.subgrid{
border: 2px solid black;
width: 50px;
height: 50px;
font-size: smaller;
overflow-wrap: break-word;
}

.blue-text{
  color: #007185;
}
.details-center-col{
  width: 34%;
  flex-direction: column;
  justify-content: center;
  /* border: dotted 2px gray; */
}

.details-description-table td{
  padding: 5px 20px;
}
.bold-1{
  font-weight: 800;
}
.non-bold-text-2{
  margin-left: 50px;
}

.details-title{
  font-size: x-large;
}
.details-descriptive-header{
font-size: large;
font-family: "Amazon Ember",Arial, sans-serif;
}
.details-descriptive > li{
  margin: 10px 0px;
  word-wrap: break-word;
  text-indent: -24px;
  font-family: "Amazon Ember",Arial, sans-serif;
}
.add-to-cart{
  margin-top: 10px;
  display: flex;
  background-color: #FFD814;
  border-color: #FCD200 ;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.in-stock{
  color: green;
  font-size: 16px;
  margin-left: 10px;
  display: flex;
  align-self: center;
}

.primeshipping-show{
  height: 30px;
}

.buy-now{
margin-top: 10px;
background-color: #FFA41C;
border-color: #FF8F00;
border-radius: 20px;
width: 200px;
height: 30px;
text-align: center;

}

.checkout-right-col{
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-left:  solid 2px gray;
  border-top:  solid 2px gray;
  border-right:  solid 2px gray;
  border-bottom:  solid 2px gray;
  border-radius: 20px;
  margin-right: 12%;
  margin-left: 3%

}
.checkout-inner-right-col{
padding: 15px;
}

.checkout-right-spacer{
  width: 12%;
}

.details-options{
margin: 5px;
}

.options-block{
  margin: 5px;
  padding: 3px 10px ;
  border: 1px solid black;
}

.options-block:hover {
background-color: rgb(169, 169, 169);
}

.redtext{
  color: red;
  font-weight: 500;
}

.hidden-math{
  display: none;
}

.footer-margin{
  margin-bottom: 100px;
}

.price-total{
  font-size: large;
  font-weight: 700;
}

.sponsored{

display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
border: 1px solid black;

}