.product-details-main{
 
  margin-left: 3%;
  margin-right: 3%;
}

.details-price {
  font-size: x-large;
  align-self: flex-start;
  margin-top: 12px;
}

.price-whole {
  font-size: xx-large;
  font-weight: 600;
}

.price-fraction {
  font-size: small;
}

.seller {
  margin-top: 12px;
}

.details-pad{
  padding-top: 5px;
  padding-left: 5px
}

.history-nav{
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.product-container{
  width: 100%;
  justify-content: space-evenly;
  /* border: dotted 2px darkgray; */
}

.image-left-col{
  width: 34%;
  /* border: dotted 2px gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.detailed-view-image{
  max-width: 90%;
  object-fit: contain;
}

.image-instruction{
  font-size: medium;
justify-self: center;
color: gray;
}

.images-array{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 5px;
  row-gap: 10px;
}

.subgrid{
border: 2px solid black;
width: 50px;
height: 50px;
font-size: smaller;
overflow-wrap: break-word;
}

.blue-text{
  color: #007185;
}
.details-center-col{
  width: 34%;
  flex-direction: column;
  justify-content: center;
  /* border: dotted 2px gray; */
}

.details-description-table td{
  padding: 5px 20px;
}
.bold-1{
  font-weight: 800;
}
.non-bold-text-2{
  margin-left: 50px;
}

.discount-col-wrap {
  display: flex;
  align-items: center;
}

.details-title{
  font-size: x-large;
}
.product-details-grow-filler{
  display: flex;
  flex-grow: inherit;
}
.details-descriptive-header{
font-size: large;

}
.details-descriptive > li{
  margin: 10px 0px;
  word-wrap: break-word;
  text-indent: -24px;
  margin-left: 25px;
  font-size: 14px;
}
.add-to-cart{
  margin-top: 10px;
  display: flex;
  background-color: #FFD814;
  border-color: #FCD200 ;
  border-radius: 20px;
  width: 230px;
  height: 30px;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.add-to-cart:hover{
  background: #F7CA00;
  border-color: #F2C200;
}

.in-stock{
  color: green;
  font-size: 16px;
  margin-left: 10px;
  display: flex;
  align-self: center;
}

.primeshipping-show{
  height: 30px;
}

.buy-now{
margin-top: 10px;
margin-bottom: 10px;
background-color: #FF9900;
border-color: #FF8F00;
border-radius: 20px;
width: 230px;
height: 30px;
text-align: center;
}

.buy-now:hover{
  background: #FA8900;
  border-color: #E3931E;
}

.checkout-right-col{
  display: flex;
  width: 16%;
  padding: 2%;
  padding-top: 10px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-left:  solid 2px gray;
  border-top:  solid 2px gray;
  border-right:  solid 2px gray;
  border-bottom:  solid 2px gray;
  border-radius: 20px;
  margin-right: 5%;
  margin-left: 3%;
  min-width: 280px;
}
.checkout-inner-right-col{
padding: 15px;
padding-top: 0px;
display: flex;
flex-direction: column;
}

.checkout-right-spacer{
  /* width: 12%; */
}

.details-options{
margin: 15px;
}

.options-block{
  margin: 5px;
  padding: 3px 10px ;
  border: 1px solid black;
}

.options-block:hover {
background-color: rgb(169, 169, 169);
}

.discount-financing-available.details-pad:hover{
  text-decoration: underline;
}

.redtext{
  color: red;
  font-weight: 500;
}
.redtext:hover{
text-decoration: underline;
}

.hidden-math{
  display: none;
}

.footer-margin{
  margin-bottom: 100px;
}

.price-total{
  font-size: large;
  font-weight: 700;
}

.sponsored{

display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
border: 1px solid black;

}

.checkout-table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
width: 80%;
font-size: 14px;
color: gray;
margin-top: 10px;
margin-left: 5%;

}

.buttons-right-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secure{  
}

.discount-strikethrough{
text-decoration:line-through;
}

element.style {}

s.details-checkout.blue-text {
  font-size: 12px;
  margin-bottom: 12px;
  margin-top: 5px;
}

.discount-smaller{
  color: gray;
  font-size: 13px;

}

.secure-transacrion-ships{
display: flex;
flex-direction: column;
}

.free-returns{
  margin: 10px;
}
.be-greentext-format{
  color: green
}
.bolded-shipping{
  font-weight: 700;
}

.free-returns-checkout{
  margin-bottom: 10px;
}

.layaway-product{
  margin: 15px;
  width: 225px;
  align-self: center;
}

.checkout-stock{
font-size: x-large;
font-weight: 600px;
margin: 15px;
align-self: flex-start;
margin-left: 0px;
}
.right-checkout-details-returns-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

span.returns {
  width: 80%;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.insurance-panel {
  margin-top: 5px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.saved-for-later-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  border: transparent;
}

.protection-plan >.bold-1 {
  font-size: 17px;
}

.protection-plan {
  margin-bottom: 10px;
}
.saved-for-later-container>button {
  padding: 10px;
  width: 100%;
  font-family: inherit;
}